<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "partials/head.njk" %}
  </head>

  <body class="bg-background-light text-slate-800 font-sans transition-colors duration-300">
    {% if navStyle == 'legal' %} {% include "partials/nav-legal.njk" %} {% else %} {% include "partials/nav.njk" %} {%
    endif %} {{ content | safe }} {% include "partials/footer.njk" %}

    <script src="/assets/js/ui.js"></script>
  </body>
</html>
